$color-white: #FFFFFF;
$color-french-pass: #BDEDFD;
$color-gallery: #EFEFEF;
$color-bleu-de-france: #2EA1E8;
$color-trout: #4A4E5A;
$color-gray-x11: #BEBEBE;
$color-black: #000000;
$color-mercury: #E6E6E6;
$color-onyx: #0F0F0F;
$color-shady-lady: #D9D9D9;
$color-tauatara: #343436;