.component-file-dropper {
  &__dropzone {
    border: 3px dashed $color-gray-x11;
    padding: 10px;
    text-align: center;
    color: $color-gray-x11;
  }

  &__preview {
    margin-top: 10px;
    height: auto;
    width: 100%;
    border: 3px dashed $color-gray-x11;

    &:hover {
      opacity: 0.8;
    }
  }
}