.component-form-wizard {
  counter-reset: section;
  margin: 0px 15%;
  min-width: 70%;

  &__header{
    margin-top: 5px;
    margin-bottom: 10px;
  }

  &__area {
    @include border-radius(4px);
    counter-increment: section;
    position: relative;
    border: 1px solid $color-gains-boro;
    padding: 20px;
    margin-top: 20px;

    &::before {
      content: counter(section);
      @include border-radius(99px);
      position: absolute;
      left: -15px;
      top: -15px;
      background-color: $color-bleu-de-france;
      display: block;
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      color: $color-white;
    }
  }

  &__submit {
    @extend .btn;
    @extend .btn-primary;
    @extend .btn-block;
  }

  &__remove {
    @extend .btn;
    @extend .btn-danger;
    @extend .btn-block;
  }
}