.component-image-slider {
  position: relative;
  height: 500px;

  &__next, &__previous {
    width: 100%;
    height: 75px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    text-align: center;
    color: $color-white;
    line-height: 75px;
    font-size: 32px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.7);
    }
  }

  &__next {
    top: 0px;
  }

  &__previous {
    bottom: 0px;
  }

  &__container {
    width: 100%;
    height: 500px;
    text-align: center;
    background-color: $color-mercury;
  }

  &__item {
    height: 500px;
  }
}