.colour-adder {
  margin-top: 10px;
  width: 150px;

  &__value, &__name {
    width: 100%;

    &--is-invalid {
      background-color: $colour-cosmos;
    }
  }

  &__name, &__variable-name {
    @extend .form-control;
  }

  &__code {
    position: relative;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    border-radius: 40px;
    margin-bottom: 5px;
    border: 1px dashed $color-mine-shaft;
    user-select: none;

    &--active {
      box-shadow: 0 0 10px $color-cornflower;
    }

    &:hover, &--active {
      .tool-tip {
        line-height: normal;
        right: -180px;
        display: block;
      }
    }
  }

  &__value {
    background-color: transparent;
    border: 0;
    padding: 0;
  }

  &__submit {
    @extend .btn;
    @extend .btn-sm;
    @extend .btn-success;
    width: 100%;
  }
}
