.c-admin-colours {
  &__colour-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__colour-list-item {
    display: inline-block;

  }

  &__colour-list-name {
    text-align: center;
  }

  &__colour-list-code {
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
  }

  &__adder {
    width: 80px;
    height: 80px;
  }

  &__colour-value, &__colour-name {
    width: 100%;

    &--is-invalid {
      background-color: $colour-cosmos;
    }
  }

  &__colour-value {
    background-color: transparent;
    border: 0;
  }

  &__colour-submit {
    width: 100%;
  }
}
