.main-navigation {
  @extend .nav;
  @extend .nav-tabs;

  &__option {

    &--active {
      @extend .active;
    }

    a {
      border-radius: 0px !important;

      &:hover {
        background-color: $color-french-pass !important;
        border-color: $color-french-pass !important;
      }
    }
  }
}