.template-footer {
  margin-top: 20px;
  background-color: $color-tauatara;
  text-align: center;
  font-size: 13px;
  position: relative;
  top: 0px;
  width: 100%;
  padding-bottom: 10px;

  &__copyrights {
    color: $color-shady-lady;
    text-decoration: none;

    &:hover {
      color: $color-white;
      text-decoration: none;
    }
  }
}