<% include header %>

<main class="template-main">
  <div class="row">
    <header class="main-banner">

    </header>
  </div>
  <div class="row">
    <div class="col-sm-12">
      404 Error
    </div>
  </div>
</main>

<% include footer %>