<% include header %>

<div class="container-fluid">
  <div class="row">
    <% include main-banner %>
  </div>
  <div class="row">
    <div id="js-app-add-position" class="col-sm-12">
      Article form loading...
    </div>
  </div>
</div>

<% include footer %>