<% include header %>

<main class="template-main">
  <div class="row">
    <% include main-banner %>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <ul class="sub-navigation">
        <li>
          <a href="#">
            List
          </a>
        </li>
        <li>
          <a href="#add">
            Add
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div id="js-app-admin" class="col-sm-12">
      Admin app loading...
    </div>
  </div>
</main>

<% include footer %>