<% include header %>

<div class="container-fluid">
  <div class="row">
    <% include main-banner %>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <a href="#">
        List
      </a>
      <a href="#add">
        Add
      </a>
    </div>
  </div>
  <div class="row">
    <div id="js-app-admin" class="col-sm-12">
      Admin app loading...
    </div>
  </div>
</div>

<% include footer %>