<% include header %>

<aside class="js-left-menu left-menu">
  <div class="js-left-menu-activator left-menu__activator">
    ☰
  </div>
  <ul class="left-menu__list">
    <li class="left-menu__list-item">
      <a class="left-menu__list-link"
         href="/admin/colours">Colour Manager</a>
    </li>
    <li class="left-menu__list-item">
      <a class="left-menu__list-link"
         href="/admin/generator">Generator</a>
    </li>
  </ul>
</aside>

<main class="main-content">
  <div class="<%= clientAppClass %>"></div>
</main>

<% include footer %>
