<% include header %>

<main class="main-content">
  <% include main-banner %>
  <article class="article">
    <header class="article__header">
      <%= article.title %>
    </header>

    <section id="js-app-image-slider"
             data-id="<%= article._id %>">
      Image slider loading...
    </section>

    <section class="article__description">
      <%= article.description %>
    </section>

  </article>
</main>

<% include footer %>
