<% include header %>

<div class="container-fluid">
  <div class="row">
    <% include main-banner %>
  </div>
  <div class="row">
    <article class="col-sm-12">
      <header>
        <%= article.title %>
      </header>
      <section class="component-image-slider">
        <img class="component-image-slider__item"
             src="<%= article.image %>"/>
      </section>
      <section>
        <%= article.description %>
      </section>
    </article>
  </div>
</div>

<% include footer %>