  <footer class="template-footer">
    <ul class="footer-navigation">
      <li class="footer-navigation__option"
          role="presentation">
        <a href="/">
          About us
        </a>
      </li>
      <li class="footer-navigation__option"
          role="presentation">
        <a href="/">
          About us
        </a>
      </li>
      <li class="footer-navigation__option"
          role="presentation">
        <a href="/">
          Regulations
        </a>
      </li>
      <li class="footer-navigation__option"
          role="presentation">
        <a href="/">
          Privacy Policy
        </a>
      </li>
    </ul>

    <a class="template-footer__copyrights"
       href="http://oskarszura.github.io">
      &copy; 2016 by Oskar Szura
    </a>
  </footer>

  <script src="/scripts.js"></script>
</body>
</html>
