<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title><%-title %></title>
  <link rel="stylesheet" href="/css/screen.css">
  <script src="http://localhost:35729/livereload.js"></script>
</head>
<body data-user-id="<%-userId %>">
 <header class="template-header">
   <div class="row">
     <a class="logo"
        href="/">
       <span class="logo__blue">
         UR
       </span><span class="logo__gray">
         HOME
       </span>
     </a>
     <nav class="col-sm-10">
       <ul class="main-navigation">
         <% if (!logged) { %>
         <li class="main-navigation__option"
             role="presentation">
           <a href="/login">
             Login
           </a>
         </li>
         <li class="main-navigation__option"
             role="presentation">
           <a href="/login/register">
             Sign up
           </a>
         </li>
         <% } %>
         <% if (logged) { %>
         <li class="main-navigation__option"
             role="presentation">
           <a href="/admin">
             Admin
           </a>
         </li>
         <li class="main-navigation__option"
             role="presentation">
           <a href="/login/logout">
             Logout
           </a>
         </li>
         <% } %>
       </ul>
     </nav>
   </div>
 </header>