<% include header %>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <ul class="nav nav-tabs">
        <li role="presentation" class="active">
          <a href="#/">
            Home
          </a>
        </li>
        <li role="presentation">
          <a href="#/image-dropper">
            File Dropper
          </a>
        </li>
        <li role="presentation">
          <a href="#/none">
            None
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div id="app" class="col-sm-12">
      App not running...
    </div>
  </div>
</div>

<% include footer %>