<% include header %>

<div class="container-fluid">
  <div class="row">
    <header class="main-banner">
      <h1>Hello, world!</h1>
      <p>...</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </header>
  </div>
  <div class="row">
    <div id="js-app-list" class="col-sm-12">
      App not running...
    </div>
  </div>
</div>

<% include footer %>