<% include header %>

<main class="template-main">
  <div class="row">
    <% include main-banner %>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h2 class="is-centered">
        Newest
      </h2>
    </div>
  </div>
  <div class="row">
    <div id="js-app-list" class="col-sm-12">
      List loading...
    </div>
  </div>
</main>

<% include footer %>