<header class="header">
  <a class="header__logo" href="/">

  </a>
  <nav class="header__navigation">
    <ul class="header__navigation-list">
      <% if (!logged) { %>
      <li class="header__navigation-option"
          role="presentation">
        <a href="/login">
          Login
        </a>
      </li>
      <li class="header__navigation-option"
          role="presentation">
        <a href="/login/register">
          Sign up
        </a>
      </li>
      <% } %>
      <% if (logged) { %>
      <li class="header__navigation-option"
          role="presentation">
        <a href="/admin">
          Admin
        </a>
      </li>
      <li class="header__navigation-option"
          role="presentation">
        <a href="/login/logout">
          Logout
        </a>
      </li>
      <% } %>
    </ul>
  </nav>
</header>
